<body style="background-image: url('https://mdbootstrap.com/img/new/slides/098.jpg');">
<p>
  <strong>Detailed info about User:</strong>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

</p>
</body>