<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
  
    <section class="mb-4">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio earum
        repellat quaerat voluptatibus placeat nam, commodi optio pariatur est quia magnam
        eum harum corrupti dicta, aliquam sequi voluptate quas.
      </p>
    </section>
   
    <section class="">
      <!--Grid row-->
      <div class="row">
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
         
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">About</a>
            </li>
            <li>
              <a href="#!" class="text-white">Help Center</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms of Service</a>
            </li>
            <li>
              <a href="#!" class="text-white">Privacy Policy</a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
      
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Cookie Policy</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ads info</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-white">Status</a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Careers</a>
            </li>
            <li>
              <a href="#!" class="text-white">Brand Resources</a>
            </li>
            <li>
              <a href="#!" class="text-white">Advertising</a>
            </li>
            <li>
              <a href="#!" class="text-white">Marketing</a>
            </li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">For Business</a>
            </li>
            <li>
              <a href="#!" class="text-white">Developers</a>
            </li>
            <li>
              <a href="#!" class="text-white">Directory</a>
            </li>
            <li>
              <a href="#!" class="text-white">Settings</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
     © 2021 Small Talks, Inc.
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->