<h1>Home page</h1>
<br>
<!-- Jumbotron -->
<div
  class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white"
  style="background-image: url('https://mdbootstrap.com/img/new/slides/005.jpg');"
>
  <h1 class="mb-3 h2">Jumbotron</h1>

  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellendus praesentium
    labore accusamus sequi, voluptate debitis tenetur in deleniti possimus modi voluptatum
    neque maiores dolorem unde? Aut dolorum quod excepturi fugit.
  </p>
</div>
<!-- Jumbotron -->

<!-- Card -->
<div
  class="bg-image card shadow-1-strong"
  style="background-image: url('https://mdbootstrap.com/img/new/slides/098.jpg');"
>
  <div class="card-body text-white">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the
      card's content.
    </p>
    
  
    <form>
  <!-- Email input -->
  <div class="form-group w-25 form-outline mb-4" >
    <input type="email" id="form2Example1" class="form-control" />
    <label class="form-label" for="form2Example1">Username</label>
  </div>

  <!-- Password input -->
  <div class="form-group w-25 form-outline mb-4">
    <input type="password" id="form2Example2" class="form-control" />
    <label class="form-label" for="form2Example2">Password</label>
  </div>

  <!-- 2 column grid layout for inline styling justify-content-center-->
  <div class="row mb-4">
    <div class="col d-flex">
      <!-- Checkbox -->
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="form2Example34"
          checked
        />
        <label class="form-check-label" for="form2Example34"> Remember me </label>
        <strong>
        <a  href="#!">Forgot password?</a>
        </strong>
      </div>
    </div>
  
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-info btn-block mb-4">Sign in</button>

  <!-- Register buttons text-center -->
  <div class="text-left">
    <p>Not a member? <a class="btn btn-dark href="#!">Register</a></p>
    </div>
</form>
 
  </div>
</div>
<!-- Card -->
<br>



