<section>

<%= link_to "List of Feedbacks", feedbacks_path, class:"btn btn-outline-primary" %>

  <div class="container">
    <div class="section-title">
      <h2>Edit Feedback</h2>
    </div>
    <%= render 'form', feedback: @feedback %>
</div>

</section>